{% extends 'master.twig' %}

{% block pageContent %}

<h2 class="above-card">Mijn reservaties</h2>

<div class="overview clearfix">
	<div class="container clearfix">
		<table class="reservations">
			<tr>
				<th>Restaurant</th>
				<th>Datum</th>
				<th>Tijdstip</th>
				<th>Annuleren</th>
			</tr>
			{% for reservation in reservations %}
			<tr>
				<td>{{ reservation.restaurantName }}</td>
				<td>{{ reservation.date }}</td>
				<td>
					{% if reservation.shift == "1" %}13u00{% elseif reservation.shift == "2" %}18u00{% elseif reservation.shift == "3" %}20u00{% endif %}
				</td>
				<td><a href="account.php?moduleAction=delete&date={{ reservation.date }}&shift={{ reservation.shift }}">X</a></td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>

{% endblock %}
