{% extends 'master.twig' %}

{% block pageContent %}



<div class="center-center">
	<div class="container">
		<h2 class="above-login-box">{{ pageTitle|default('&nbsp;')|raw }}</h2>
		<div class="login-box">
			<form id="loginForm" action="{{ PHP_SELF }}" method="post">
				<input type="text" name="name" value="" placeholder="Username" />
				<input type="password" name="password" value="" placeholder="Password" />
				<input type="submit" name="name" value="Submit" />
			</form>
		</div>
	</div>
</div>

{% endblock %}
